<div class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0">
  <div class="row setup-content">
    <div class="col-xs-12 col-md-12">
      <div class="col-xs-12 col-md-12 panel panel-default" id="step">
      	<div class="spacer-10"></div>
      	<h4 class="text-center"> Usuarios con acceso al Protocolo </h4>
        <div class="spacer-20"></div>

        <div class="container col-xs-12">
          <div class="row clearfix">
            <div class="col-md-12 column">

              <a id="add_row" class="btn btn-success pull-left">Add Row</a>
              <a id='delete_row' class="btn btn-danger pull-right">Delete Row</a>

		      <table class="table table-bordered table-hover" id="tab_logic">
		        <thead>
			      <tr style="width:100%">
                    <th class="text-center" style="width:10%"> # </th>
                    <th class="text-center" style="width:30%"> Course Code </th>
				    <th class="text-center" style="width:70%"> Course Name </th>
			      </tr>
				</thead>
			    <tbody>
                  <tr id='course0'>
				    <td> 1 </td>
					<td> <input type="text" name='courseCode0'  placeholder='Course Code' class="form-control"/> </td>
					<td> <input type="text" name='courseName0' placeholder='Course Name' class="form-control"/> </td>
				  </tr>
                  <tr id='course1'>
                  </tr>
                  <% if !@users.nil? %>
                    <% @users.each do |ru| %>
                      <tr>
                  	    <td><%= ru.user.firstname %></td>
                  	    <td><%= ru.user.lastname %></td>
                  	    <td><%= ru.user.username %></td>
                      </tr>
                    <% end %>
                  <% end %>
				</tbody>
		      </table>
		    </div>
	      </div>
        </div>

      </div>
    </div>
  </div>
</div>
