<div class="col-xs-4 col-md-4">
  <label><%= field.label %></label>
  <%= f.select field.name, JSON.parse(field.values).collect {|opt| [opt['value'], opt['id']]}, {include_blank: true}, multiple: false, class: 'form-control', disabled: false %>
</div>