  <table class="table table-bordered table-hover">
    <thead>
      <tr style="width:100%">
        <th class="text-center" style="width:10%"> No. </th>
        <th class="text-center" style="width:25%"> Status </th>
	    <th class="text-center" style="width:25%"> Fecha </th>
	    <th class="text-center" style="width:25%"> Hora </th>
	    <th class="text-center" style="width:15%"> </th>
      </tr>
	</thead>
    <tbody>

      <% if !@appts.nil? %>
        <% @appts.each do |appt| %>
          <tr>
      	    <td class="text-center"><%= appt.appt_no.blank? ? "" : appt.appt_no.to_i %></td>
      	    <td class="text-center"><%= appt.status %></td>
      	    <td class="text-center"><%= appt.appt_date.strftime("%d/%m/%Y") %></td>
      	    <td class="text-center"><%= appt.appt_time.strftime("%I:%M %p") %></td>
      	    <td class="text-center"></td>
          </tr>
        <% end %>
      <% end %>

	</tbody>
  </table>
