@import "bootstrap-sprockets";
@import "bootstrap";

$main-color: #FAFAFA;
$light-blue-color: #ECF2F9;
$blue-color: #428BCA;

/* BASICS */
body {
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: $light-blue-color;
  overflow-x: hidden;
  overflow-y: auto;
}
.screen-header {
  text-align: center;
  font-weight: bold;
}



/* NOTIFICATIONS */
.notification {
  text-align: center;
  padding: 5px;
}
.notification-danger {
  text-align: center;
  font-weight: bold;
  color: red;
}
.notification-icon {
  margin-right: 5px;
  font-size: 20px;
  font-weight: lighter;
}


/* FORMS */
.form-style:focus {
  border: 1.5px solid #39ace7; 
}

.label-padding {
  margin-top: 7px; 
}



/* LOGIN */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: top;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
#formFooter {
  background-color: $main-color;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $main-color), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  text-shadow: 0 1px 0 #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$main-color', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$main-color', endColorstr='#E9E9E9')";
  -webkit-background-clip: padding-box;
}
.login-logo {
  background-image: asset-url('small_logo.jpg');
  margin-left: auto;
  margin-right: auto;
  height: 145px;
  width: 320px;
  transform: scale(.8);
  margin-bottom: 10px;
}
.login-button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
.fadeIn {
  opacity:0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}
.underlineHover:hover {
  color: #0d0d0d;
}
.underlineHover:hover:after{
  width: 100%;
}
.wrapper input[type=button], .wrapper input[type=submit] {
  background-color: #39ace7;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wrapper input[type=button]:hover, .wrapper input[type=submit]:hover  {
  background-color: #56baed;
}
.wrapper input[type=button]:active, .wrapper input[type=submit]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.wrapper input[type=text], .wrapper input[type=password], .wrapper input[type=email] {
  background-color: #f7f7f7;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f5f5f5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.wrapper input[type=text]:focus, .wrapper input[type=password]:focus, .wrapper input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #39ace7;
}
.wrapper input[type=text]:placeholder, input[type=password]:placeholder, .wrapper input[type=email]:placeholder {
  color: #cccccc;
}
*:focus {
  outline: none;
} 



/* NAVIGATION BAR */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.navbar-brand {
  color: #39ace7;
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 30px 0px 0px; 
}
.navbar-right {
  font-size: 1.1em;
  font-weight: bold;
}
.sidebar {
  display: none;
}
.navbar-item {
  font-size: 15px;  
}
.navbar-item-empty {
  margin-left: 15px;  
}
.menu-item {
  font-size: 14px;
  margin-left: 0px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar-title {
  margin-bottom: 0px;
  margin-left: 20px;
  font-weight: bold;
  font-size:1.3em;
  color: black;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: $blue-color;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.sidebar-gradient {
  background: #E9E9E9;
  background: -moz-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $main-color), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  text-shadow: 0 1px 0 #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
  border-top: 1px solid #bababa;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$main-color', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$main-color', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-background-clip: padding-box;
}



/* SPACERS */
.spacer-10 {
  height: 10px;
}
.spacer-20 {
  height: 20px;
}
.spacer-30 {
  height: 30px;
}
.spacer-50 {
  height: 50px;
}



/* DATA TABLE */
.txt-green {
  color: green;
}
.txt-red {
  color: red;
}
.col-header {
  text-align: center;
}
.col-data-left {
  text-align: left;
}
.col-data-center {
  text-align: center;
}
.panel-table .btn-create {
  margin-right: 4px;
  line-height: 9px;
  height: 20px;
}
.btn-action {
  height: 32px;
}
.panel-table .panel-body{
  padding:0;
}
.panel-table .panel-body .table-bordered {
  border-style: none;
  margin:0;
}
.panel-table .panel-body .table-bordered > tbody > tr > td {
  line-height: 32px;
}
.panel-table .panel-header {
  position: relative;
  height: 35px;
  line-height: 30px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $main-color), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  text-shadow: 0 1px 0 #fff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
  border-bottom: 1px solid #bababa;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$main-color', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$main-color', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
}
.panel-table .panel-footer {
  position: relative;
  height: 35px;
  line-height: 30px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $main-color), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  background: linear-gradient(top, $main-color 0%, #e9e9e9 100%);
  text-shadow: 0 1px 0 #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
  border-top: 1px solid #bababa;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$main-color', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$main-color', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-background-clip: padding-box;
}
.dataTables_length {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
}
.dataTables_filter {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}
.dataTables_info {
  margin-left: 5px;
}
.paginate_button {
 margin-right: 2px;
}



/* FORM SWITCHES */
.material-switch > input[type="checkbox"] {
  display: none;   
}
.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
.material-switch-header {
  text-align: center;
  font-weight: bold;
}
.material-switch-option {
  font-weight: bold;
}



/* RESEARCH CARDS */
section .section-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#researches .card {
  border: none;
  background: #ffffff;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 1.3s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1.3s;
  -moz-transition: 1.3s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1.3s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside-new {
  position: relative;
  margin-bottom: 30px;
  border: 3px dashed #dadada;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1.3s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1.3s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1.3s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1.3s;
  -ms-transform-style: preserve-3d;
  transition: 1.3s;
  transform-style: preserve-3d;
}
.frontside-new .card {
  min-height: 305px;
}
.frontside .card {
  min-height: 312px;
}
.backside .card {
  min-height: 292px;
  max-height: 292px;
}
.frontside-new .card .card-title,
.frontside .card .card-title,
.backside .card .card-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  color: $blue-color !important;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
.frontside-new .card .card-name,
.frontside .card .card-name,
.backside .card .card-name {
  font-weight: bold;
  font-size: 14px;
}
.frontside-new .card .card-description,
.frontside .card .card-description,
.backside .card .card-description {
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
}
.frontside-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
}
.card-form {
  margin-top: 10px;
}
.btn-card {
  margin-top: 20px;
}
.img-0 {
  border: 2px dashed #dadada;
}
.img-1 {
  background-image: asset-url('research-icon1.png');
}



/* RESEARCH WIZARD */
.wizard {
  margin: -30px auto;
}
.wizard .nav-tabs {
  position: relative;
  margin: 0px auto;
  margin-bottom: 0;
  border-bottom-color: #ddd;
  border-width: thin;
}
.wizard > div.wizard-inner {
  position: relative;
}
.connecting-line {
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #ddd;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i {
  color: #555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid $blue-color;  
}
.wizard li.active span.round-tab i {
  color: $blue-color;
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard .nav-tabs > li {
  width: 25%;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: $blue-color;
  transition: 0.1s ease-in-out;
}
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: $blue-color;
}
.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}
.wizard h3 {
  margin-top: 0;
}
@media(max-width: 585px ) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
