<table class="table table-bordered table-hover">
  <thead>
    <tr style="width:100%">
      <th class="text-center" style="width:30%"> CURP </th>
      <th class="text-center" style="width:25%"> Status </th>
      <th class="text-center" style="width:20%"> Fecha </th>
      <th class="text-center" style="width:20%"> Hora </th>
	  <th class="text-center" style="width:5%"> </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>